
/* Стили для страницы Личного кабинета */
.profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background: #121212;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff; /* Текст белого цвета для контраста */
}

.profile-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #d63384; /* Красный для заголовка */
}

.profile-container p {
    font-size: 1.2rem;
    color: #fff;
    margin: 10px 0;
}

.profile-container .profile-details {
    margin-top: 20px;
    background: #222; /* Темный фон для блока с деталями */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.profile-container .profile-details p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #ccc; /* Цвет текста в деталях */
}

.profile-container .btn {
    display: inline-block;
    background-color: #800080; /* Фиолетовый фон */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.profile-container .btn:hover {
    background-color: #6a006a; /* Темно-фиолетовый при наведении */
}

.profile-container .logout-btn {
    background-color: #d63384; /* Красный фон для кнопки выхода */
    margin-top: 10px;
}

.profile-container .logout-btn:hover {
    background-color: #b32b72; /* Темно-красный при наведении */
}

.form-group label {
    display: block;
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует содержимое по горизонтали */
    margin-bottom: 20px;
}

.form-group input {
    width: 90%; /* Устанавливаем ширину поля */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #800080; /* Фиолетовая рамка */
    border-radius: 5px;
    background: #333; /* Темный фон для полей ввода */
    color: #fff; /* Белый текст в полях */
    text-align: left; /* Центрируем текст в поле ввода */
}


.form-group input:focus {
    border-color: #800080; /* Фиолетовая рамка при фокусе */
    outline: none; /* Убираем стандартную обводку */
}

.form-group input::placeholder {
    color: #ccc; /* Цвет текста-плейсхолдера */
}

/* Стили для кнопки */
.btn-primary {
    background-color: #800080;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #6a006a; /* Темно-фиолетовый при наведении */
}

.btn-primary:focus {
    outline: none;
}
